body{
  background: url(./pics/back_chat.jpg);
}
.mainRoot{
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%, 0%);

}
.mario{
  background-image: url(./pics/mainChatBack.jpg);
}
.lugi{
  background-image: url(./pics/mainChatBack2.jpg);
}
.peach{
  background-image: url(./pics/mainChatBack3.jpg);
}
.yoshi{
  background-image: url(./pics/mainChatBack4.jpg);
}
.main{
  width: 800px;
  height: 445px;
  border: 3px solid #719684;
  margin-left: 10px;
  padding: 5px;
  padding-bottom: 3px;
  overflow-x: auto;
  border-radius: 0px 0px 5px 5px;
  word-break: break-all;
  background-color: white;
}
.mainHeader{
  position: relative;
  width: 806px;
  height: 40px;
  background: #719684;
  margin-top: 10px;
  margin-left: 10px;
  color:#252c24;
  padding-top: 15px;
  padding-left: 10px;
  border-radius: 5px 5px 0px 0px;
}
.inputText{
  margin-left: 10px;
  width: 700px;
  height: 60px;
  outline: none;
  border: 3px solid#719684;
  margin-top: 5px;
  resize: none;
  font-size: 16px;
  border-radius: 5px;
  background: white;
}

.sendBtn{
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
  width: 100px;
  height: 68px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}
.sendBtn:hover{
  background-color: rgb(2, 182, 2);
}
.mainLogin{
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translate(-50%, 0%);
  width: 220px;
  height: 120px;
  border: 3px solid #719684;
  padding: 20px;
  border-radius: 5px;
  background: white;
}
.userName{
  color: red;
}
.messTime{
  position: relative;
  color: blue;
  font-size: 12px;
}
.closeChat{
  position: absolute;
  right: 10px;
  border-radius: 5px;
  width: 60px;
  height: 25px;
  border: none;
  background-color: green;
  color: white;
  outline: none;
  cursor: pointer;
}
.closeChat:hover{
  background-color: rgb(2, 182, 2);
}
.loginBtn{
  position: relative;
  top: -2px;
  margin-left: 3px;
  width: 50px;
  height: 34px;
  border-radius: 5px;
  border: none;
  background-color: green;
  color: white;
  outline: none;
  cursor: pointer;
}
.loginBtn:hover{
  background-color: rgb(2, 182, 2);
}
.loginBtn:disabled{
  background-color: darkgreen;
  color: lightgray;
}
.loginMess{
  color:blue;
  font-size: 12px;
}
.mainChatName{
  position: absolute;
  right: 100px;
  color: #252c24;
}
.textError{
  color:white;
  margin-left: 10px;
}
.mainLoginInput{
  width: 150px;
  height: 25px;;
  border-radius: 5px;
  outline: none;
  border: 2px solid #719684;
  font-size: 18px;
  padding: 3px;
}
.mainLoginTitle{
  font-size: 20px;
}
.marioPic{
 position: relative;
 top: 9px;
 margin-right: 3px;
}
.themIcon{
  position: relative;
  margin-left: 10px;
  top: 3px;
  left: 20px;
  cursor: pointer;
}
.themText{
  position: relative;
  left: 25px;
  top: -6px;
  color:#252c24;
}
.themBack{
  width: 330px;
  height: 40px;
  background-color: #719684;
  margin-left: 10px;
  border-radius: 10px;
}
.mario_login{
  position: relative;
  width: 200px;
  left: 50%;
  top: 50px;
  transform: translate(-50%, 0%);
}
.chatNameColor{
  margin-left: 5px;
  font-size: 20px;
  color: white;
  -webkit-text-stroke: 0.7px #252c24;
}
